* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: 1rem;
}

figure img {
    max-height: 20rem;
}

button {
    width: 10rem;
    height: 4rem;
    margin: 1rem;
    background-color: bisque;
    color: black;
    font-size: large;
}

figure {
    color: black;
    background-color: bisque;
}